@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body, #root { 
  height: 100%; 
  // background: linear-gradient(to bottom, #0d64ba 0%, #FFFFFF 100%);
  font-family: 'Poppins', sans-serif;
}

.app-shell {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main { 
  flex: 1 1 auto;
}
